:root {
  --brightred: #DE354C;
  --deepred: #932432;
  --purepurple: #3C1874;
  --purpletingedgrey: #283747;
  --cloud: #F3F3F3;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--purpletingedgrey);
  padding: 10px 0px 10px 0px;
}

header h1 {
  padding-left: 50px;
  padding-right: 15px;
  font-size: xx-large;
}

#name {
  background-color: var(--deepred);
  color: var(--cloud) ;
  margin: 5px 0px 5px 0px;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--cloud);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--cloud);
}


/* <-----  Navigation Bar  -----> */
nav{
  display: flex;
  justify-content: space-between;
}

.navitems {
  display: inline-block;
  padding: 0px 30px 0px 0px;
}


/* <-----  Hero section  -----> */
.hero-banner {
  background-image: url(/images/heroshot.png), url(/images/02-hero-bg.jpg);
  background-size:25%, 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
}

#herosubtitle {
  background-color: var(--purepurple);
  color: var(--cloud);
  padding: 5px;
}


/* <-----  About section  -----> */
#about {
  display: flex;
  margin: 25px;
}

#aboutleft {
  width: 15%;
  border-right: 5px var(--brightred) solid;
  text-align: right;
  padding-right: 10px;
  color: var(--purpletingedgrey);
}

#aboutright {
  width: 85%;
  padding-left: 25px;
}

/* <-----  Work section  -----> */
#work {
  display: flex;
  margin: 25px;
}

#workleft {
  width: 15%;
  border-right: 5px var(--brightred) solid;
  text-align: right;
  padding-right: 10px;
  color: var(--purpletingedgrey);
}

#workright {
  width: 85%;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#portfolio1 {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  border-color: var(--purepurple);
  border-width: 5px;
  border-style: solid;
}

#portfolio1text {
  position: absolute;
  margin-top: 200px;
  background-color: var(--cloud);
}

#portfolio1 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.leftsideprojects {
  display: flex;
  width: 49%;
  margin: 0px 10px 25px 0px;
  border-color: var(--deepred);
  border-width: 5px;
  border-style: solid;
}

.leftsideprojectstext, .rightsideprojectstext {
  position: absolute;
  margin-top: 70px;
  background-color: var(--cloud);
}

.leftsideprojects img, .rightsideprojects img {
  width: 100%;
  height: 150px;
  object-fit: none;
}

.rightsideprojects {
  display: flex;
  width: 49%;
  margin: 0px 0px 25px 10px;
  border-color: var(--deepred);
  border-width: 5px;
  border-style: solid;
}

/*  <----- Contact section  -----> */

#contact {
  display: flex;
  margin: 25px;
  justify-content: space-evenly;
}

#contactleft {
  width: 15%;
  border-right: 5px var(--brightred) solid;
  text-align: right;
  padding-right: 10px;
  color: var(--purpletingedgrey);
}

#contactright {
  width: 85%;
  text-align: center;
}

.contactitems {
  display: inline;
  margin-inline: 100px;
  color: var(--deepred);
}